/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a:hover {
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul,
li {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-moz-selection {
	background: #f2c2c9;
	color: #a4003a;
	text-shadow: none;
}

::selection {
	background: #16a085;
	color: #a4003a;
	text-shadow: none;
}

/* ==========================================================================
   General styles
   ========================================================================== */

body {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	color: #4a4a4a;
}

p{
	color: #4a4a4a;
}
.container {
	width: 80%;
	/* margin: 0 auto; */
}
h1 {
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 40px;
	text-align: center;
}

@media (max-width: 1024px){
	body {
		font-weight: 300;
		font-size: 10px;
		-webkit-box-sizing: border-box;  /*webkit系*/
	  	-moz-box-sizing: border-box;  /*Firefox*/
  		box-sizing: border-box;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		color: #4a4a4a;
	}
	.container {
		width: auto;
		text-align: center;
		max-width: 800px;
	}
	h1 {
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 25px;
	}

}

/* ヘッダー */
.ui-wrapper {
	max-width: 1100px;
	margin: 0 auto;
}
.header-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
}
.header-item a {
	color: #5e5e5e;
	padding: 0 20px 10px;
	border-bottom: solid 1px #5e5e5e;
	transition: .5s ease;
	font-size: 16px;
}
.header-item a:hover {
	padding: 0 0 10px;
	margin: 0 20px;
	font-size: 18px;
}

/* プロフィール */
.profile {
	display: flex;
	align-items: center;
}

.kakeru-img-wrapper {
	max-height: 500px;
	max-width: 400px;
	overflow: hidden;
	border-radius: 1rem;
}
.kakeru-img-wrapper img {
	width: 100%;
	object-fit: cover;
	border-radius: 1rem;
}
@media (max-width: 599px) {
	.kakeru-img-wrapper {
		height: 280px;
		position: relative;
		width: 90%;
		overflow: hidden;
		border-radius: 1rem;
	}
	.kakeru-img-wrapper img {
		width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
    object-position: top 30% right 0;
	}
	.ui-wrapper {
		display: none;
	}
}

img {
	margin: auto 0;
	max-height: 50rem;
	width: 28rem;
}

.introduction {
	width: 100%;
	margin: 10px 0 10px 0.7rem;
}

.name h2 {
	margin: 5px 5px 0 2rem;
	font-size: 50px;
	letter-spacing: 2px;
	white-space: pre;
}

.name span {
	font-size:  25px;
}

.occupation{
	margin: 5px 2rem;
}

.detail{
	margin: 20px auto 0;
	padding-left: 4rem;
	width: 35rem;
	text-align: left;
}
p {
	line-height: 1.7;
}
.detail ul{
	text-align: center;
}

.carrer{
	margin: 10px;
	padding: 10px;
	background-color: #66f;
	border-radius: 20px;
	color: #f2f2f2;
	cursor: pointer;
}
.carrer:hover {
	animation: fluffy1 1s ease infinite;
}

@keyframes fluffy1 {
	50% { transform:translateY(10px) }
  }

.carrer h3{
	color: #f2f2f2;
	padding: 10px 0;
}

.carrer li{
	padding: 5px;
}

#skills{
	display: flex;
	justify-content: space-around;
	color: #8a8a8a;
}

.skill h3{
	/* margin: 2rem 0 0 0; */
	width: 20rem;
	font-size: 1.5rem;
	font-weight: 200;
	color: #8a8a8a;
}

.skill{
	margin-top: 4rem;
	text-align: center;
}

.skill_icon{
	margin: 2rem 0;
	color: #8a8a8a;
	font-size: 4em;
}

.skill p{
	margin: 0 auto;
	text-align: left;
	font-weight: 100;
	color: #8a8a8a;
	width: 300px;
}

@media (max-width: 1024px){
	img{
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}
	.name h2 {
		margin: 30px auto;
		font-size: 15px;
		justify-content: center;
	}
	.name span {
		font-size:  10px;
	}
	.introduction {
		margin: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.detail{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.carrer{
		margin: 2rem 15px;
		padding: 0;
	}
	.skill{
		margin: 15px;
	}
	.skill h3{
		font-size: 1rem;
		width: 100%;
	}
	.skill p {
		width: auto;
	}
}

@media screen and (max-width: 599px) {
	.profile {
		flex-direction: column;
		justify-content: center;
	}
	#skills {
		flex-direction: column;
		justify-content: center;
	}
}

/* ポートフォリオ */
.portfolio_head h2{
	text-align: center;
}

.web_works{
	display: flex;
	justify-content: center;
	align-items: center;
}

.web_works_left{
	margin: 1rem;
}

.web_works_left img{
	vertical-align: middle;
	margin: 1.5rem;
	width: 33rem;
	overflow: hidden;
  	background: #000;
	  border-radius: 1rem;
	transition-duration: 0.5s;
}

.web_works_right{
	margin: 2.5rem;
	text-align: center;
}

.web_works_right img{
	width: 100%;
	margin: 0.7rem 0 0 0;
	overflow: hidden;
 	background: #000;
	 border-radius: 1rem;
	transition-duration: 0.5s;
}
.web_works img:hover{
transform: scale(1.1);
transition-duration: 0.5s;
opacity: 0.6;/*これを追加！*/
}

.video_works{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 2rem;
}

.video_works img{
	min-width: 0;
	width: 20rem;
}

@media (max-width: 1024px){
	.portfolio_head h2 {
		font-size: 16px;
	}
	.web_works, .video_works{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.web_works {
		margin: 0 0 60px;
	}
	.video_works {
		margin-top: 0;
	}
	.web_works_left {
		margin: auto;
	}
	.web_works_left img{
		width: 50%;
		justify-content: center;
		margin: 2rem 0;
	}
	.web_works_right{
		margin: 0;
		display: flex;
	}
	.web_works_right img{
		margin: 0 auto;
		max-height: 260px;
	}
	.web_works_right a {
		margin: 15px;
	}
	.video_works{
		justify-content: center;
		align-items: center;
	}
	.video_works iframe{
	opacity: 1;
	width: 600px;
    height: 400px;
    justify-content: center;
    margin: 2rem 0;
    vertical-align: middle;
    text-align: center;
    transition: all 500ms ease 0s;
    border-radius: 20px;
	}
}
@media (max-width: 599px) {
	.web_works_right {
		flex-direction: column;
	}
	.web_works_right img {
		width: 100%;
	}
	.web_works_left {
		margin: 1rem;
	}
	.web_works_left img{
		width: 100%;
		margin: auto;
	}
	.video_works iframe {
		width: calc(100% - 30px);
		height: 210px;
		margin: 1rem 0;
	}
}

#diary {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	text-align: center;
	margin-bottom: 100px;
}

footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
	text-align: center;
}

footer i {
	font-size: 40px;
	color: #4a4a4a;
}

footer i:hover {
	color: #1abc9c;
}

.box_shadow {
	box-shadow: 0 10px 25px 0 rgba(0, 0, 60, 0.5);
  }


/* メモ用 */
.section {
	width: 80%;
	padding: 4rem;
	background-color:navajowhite;
	border-radius: 3rem;
	color: #fff !important;
}

.section h2 {
	padding: 1rem 0;
	font-size: 2.5rem;
	color: red;
}
.section h3 {
	padding: 0.5rem 0;
	font-size: 2rem;
	color: orange
}
.section h4 {
	padding: 1rem 0 1rem 1rem;
	font-size: 1.5rem;
}
.section p {
	font-size: 1.5rem;
	margin-left: 4rem;
}
.section span {
	font-size: small;
}
.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: .6s;
	overflow: auto;
  }
  .popup.is-show {
	opacity: 1;
	visibility: visible;
  }
  .popup-inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-200%);
	width: 80%;
	max-width: 1000px;
	padding: 50px;
	border-radius: 10px;
	background-color: #fff;
	z-index: 2;
	transition: .8s ease;
  }
  .is-show .popup-inner {
	transform: translate(-50%,-50%);
  }
  .popup-inner .img-wrap {
	height: 70%;
	overflow: hidden;
  }
  .popup-inner img {
	width: 100%;
	height: 100%;
    object-fit: cover;
	transform: scale(1);
	transition: .3s ease;
  }
  .popup-inner img:hover {
	transform: scale(1.1);
	opacity: .7;
  }
  .close-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
  }
  .close-btn i {
	font-size: 20px;
	color: #333;
  }
  .black-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 1;
	cursor: pointer;
  }
  .cards {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  flex-wrap: wrap;
  }
  .card {
	  width: 30%;
	  height: 250px;
	  border: 1px solid #5e5e5e;
	  border-radius: 10px;
	  margin: 20px 0;
	  overflow: hidden;
  }
  dt {
	display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
	text-align: center;
	line-height: 1.2;
  }