/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-moz-selection {
	background: #f2c2c9;
	color: #a4003a;
	text-shadow: none;
}

::selection {
	background: #16a085;
	color: #a4003a;
	text-shadow: none;
}

/* ==========================================================================
   General styles
   ========================================================================== */

body {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	color: #4a4a4a;
}

p{
	color: #4a4a4a;
}
.container {
	width: 80%;
	/* margin: 0 auto; */
}
h1 {
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 40px;
	text-align: center;
}

@media (max-width: 1200px){
	body {
		font-family: "LiHei Pro", sans-serif;
		font-weight: 300;
		font-size: 10px;
		-webkit-box-sizing: border-box;  /*webkit系*/
	  	-moz-box-sizing: border-box;  /*Firefox*/
  		box-sizing: border-box;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		color: #4a4a4a;
	}
	
	p{
		color: #4a4a4a;
	}
	.container {
		width: 80%;
		text-align: center;
	}
	h1 {
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 25px;
	}

}


/* プロフィール */
.profile {
	display: flex;
}

img {
	margin: auto 0;
	border-radius: 1rem;
	max-height: 50rem;
	width: 28rem;
}

.introduction {
	width: 100%;
	margin: 10px 0 10px 0.7rem;
}

.name h2 {
	margin: 5px 5px 0 2rem;
	font-size: 50px;
	letter-spacing: 2px;
	white-space: pre;
}

.name span {
	font-size:  25px;
}

.occupation{
	margin: 5px 2rem;
}

.detail{
	margin: 20px auto 0;
	padding-left: 4rem;
	width: 35rem;
	text-align: left;
}

.detail ul{
	text-align: center;
}

.carrer{
	margin: 10px;
	padding: 10px;
	background-color: #66f;
	border-radius: 20px;
	color: #f2f2f2;
}

.carrer h3{
	color: #f2f2f2;
	padding: 10px 0;
}

.carrer li{
	padding: 5px;
}

.skills{
	display: flex;
	justify-content: space-between;
	text-align: center;
	color: #8a8a8a;
}

.skill h3{
	/* margin: 2rem 0 0 0; */
	width: 20rem;
	font-size: 1.5rem;
	font-weight: 200;
	color: #8a8a8a;
}

.skill{
	margin-top: 4rem;
	text-align: center;
}

.skill_icon{
	margin: 2rem 0;
	color: #8a8a8a;
	font-size: 4em;
}

.skill p{
	margin: 0 auto;
	width: 15rem;
	text-align: left;
	font-weight: 100;
	color: #8a8a8a;
}

@media (max-width: 1200px){
	.profile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

	}
	img{
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}
	.name h2 {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 15px;
		justify-content: center;
	}
	.name span {
		font-size:  10px;
	}
	.introduction {
		margin: 0;
	}
	.detail{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.carrer{
		margin: 2rem 0;
		padding: 0;
	}

	.skills{
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #8a8a8a;
	}
	.skill{
		margin: 2rem 0 0 0;
	}
	.skill h3{
		font-size: 1rem;
		width: 100%;
	}
}

/* ポートフォリオ */
.portfolio_head h2{
	text-align: center;
}

.web_works{
	display: flex;
	justify-content: center;
	align-items: center;
}

.web_works_left{
	margin: 1rem;
}

.web_works_left img{
	vertical-align: middle;
	margin: 1.5rem;
	width: 33rem;
}

.web_works_right{
	margin: 2.5rem;
	text-align: center;
}

.web_works_right img{
	width: 22rem;
	margin: 0.7rem 0 0 0;
}

.video_works{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 2rem;
}

.video_works img{
	min-width: 0;
	width: 20rem;
}

@media (max-width: 1200px){
	.web_works, .video_works{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.web_works_left img{
		width: 20rem;
		justify-content: center;
		margin: 2rem 0;
	}
	.web_works_right{
		margin: 0;
	}
	.web_works_right img{
		margin: 2rem 0;
	}
	.video_works{
		justify-content: center;
		align-items: center;
	}
	.video_works img{
		width: 20rem;
		justify-content: center;
		margin: 2rem 0 2rem;
		vertical-align: middle;
		text-align: center;
	}
}

#diary {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	text-align: center;
	margin-bottom: 100px;
}

footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
	text-align: center;
}

footer i {
	font-size: 40px;
	color: #4a4a4a;
}

footer i:hover {
	color: #1abc9c;
}

.box_shadow {
	box-shadow: 0 10px 25px 0 rgba(0, 0, 60, 0.5);
  }


/* メモ用 */
.section {
	width: 80%;
	padding: 4rem;
	background-color:navajowhite;
	border-radius: 3rem;
	color: #fff !important;
}

.section h2 {
	padding: 1rem 0;
	font-size: 2.5rem;
	color: red;
}
.section h3 {
	padding: 0.5rem 0;
	font-size: 2rem;
	color: orange
}
.section h4 {
	padding: 1rem 0 1rem 1rem;
	font-size: 1.5rem;
}
.section p {
	font-size: 1.5rem;
	margin-left: 4rem;
}
.section span {
	font-size: small;
}
